body{
	background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 2em;
}
#container{
	margin: 100px auto;
	width: 800px;
	background-color: #dbfffb;
	box-shadow: 0 0 3px rgb(0, 0, 0, 0.9);
	font-size: 20px;
}
.strikeThrough{
	color: grey;
	text-decoration: line-through;
}

h1{
	height: 80px;
	font-size: 50px;
	background-color: #016359;
	color: white;
	padding: 20px 20px 20px 20px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

#container div{
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	border: none;
}
input{
	box-sizing: border-box;
	box-shadow: 0 0 3px rgb(0, 0, 0, 0.5);
	border:none;
	width: 80%;
	background: none;
	color: inherit;
	padding: 15px 15px 15px 23px;
	font: inherit;
	outline: inherit;
}
input:focus{
	background-color: white;
	color: #016359;
}
button{
	box-shadow: 0 0 3px rgb(0, 0, 0, 0.5);
	border:none;
	width: 20%;
	box-sizing: border-box;
	background: none;
	color: inherit;
	padding: 15px 15px 15px 15px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	
}
ul{
	margin: 0;
	list-style: none;
	padding: 0;
}
li{
	background-color: white;
	padding: 0;
	height: 60px;
	line-height: 60px;
}

li:nth-child(2n){
	background-color: #dbfffb;
}
.del{
	background-color: #e74c3c;
	height: 60px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}
.strike{
	background-color: #4CAF50;
	height: 60px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

.changes{
	width: 60px;
	opacity: 1;
}